<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Translator</title>
  </head>
  <body>
    <div class="container">
      <h1 class="text-success">Text Translator</h1>

      <form action="/translate" method="POST">
        <div class="card" style="width: 24rem">
          <div class="card-body">
            <h5 class="card-title">Enter Text to convert to French</h5>
            <p class="card-text">
              <textarea
                name="text"
                placeholder="Enter Text"
                cols="20"
              ></textarea>
            </p>

            <button type="submit" class="btn btn-primary">convert</button>
          </div>
        </div>
      </form>

      <%if(translation) {%>
      <h2>Translation :</h2>
      <p><%=translation%></p>
      <%}%> 
      <%if (error) {%>
      <p><%=error%></p>
      <%}%>
    </div>
  </body>
</html>
